version: '2'

services:

  diagnostics:
    build: .
    environment:
      - 'FIRMWARE_VERSION=2021.08.02.0'
      - 'HELIUM_API_TIMEOUT_SECONDS=5'
      - 'DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket'
    volumes:
      - 'pktfwdr:/var/pktfwd'
      - 'miner-storage:/var/data'
    ports:
      - '80:5000'
    cap_add:
      - SYS_RAWIO
    devices:
      - "/dev/i2c-1:/dev/i2c-1"
    labels:
      io.balena.features.dbus: '1'
      io.balena.features.sysfs: '1'
      io.balena.features.supervisor-api: '1'

volumes:
  miner-storage:
  pktfwdr:
