include hw_diag/static/css/app-saas.min.css
include hw_diag/static/css/bootstrap.min.css
include hw_diag/static/css/icons.min.css
include hw_diag/static/css/style.css
include hw_diag/static/fontawesome/css/all.css
include hw_diag/static/fontawesome/css/all.min.css
include hw_diag/static/fontawesome/css/brands.css
include hw_diag/static/fontawesome/css/brands.min.css
include hw_diag/static/fontawesome/css/custom-icons.css
include hw_diag/static/fontawesome/css/cutom-icons.min.css
include hw_diag/static/fontawesome/css/duotone.css
include hw_diag/static/fontawesome/css/duotone.min.css
include hw_diag/static/fontawesome/css/fontawesome.css
include hw_diag/static/fontawesome/css/fontawesome.min.css
include hw_diag/static/fontawesome/css/light.css
include hw_diag/static/fontawesome/css/light.min.css
include hw_diag/static/fontawesome/css/regular.css
include hw_diag/static/fontawesome/css/regular.min.css
include hw_diag/static/fontawesome/css/sharp-light.css
include hw_diag/static/fontawesome/css/sharp-light.min.css
include hw_diag/static/fontawesome/css/sharp-regular.css
include hw_diag/static/fontawesome/css/sharp-regular.min.css
include hw_diag/static/fontawesome/css/sharp-solid.css
include hw_diag/static/fontawesome/css/sharp-solid.min.css
include hw_diag/static/fontawesome/css/solid.css
include hw_diag/static/fontawesome/css/solid.min.css
include hw_diag/static/fontawesome/css/svg-with-js.css
include hw_diag/static/fontawesome/css/svg-with-js.min.css
include hw_diag/static/fontawesome/css/thin.css
include hw_diag/static/fontawesome/css/thin.min.css
include hw_diag/static/fontawesome/css/v4-font-face.css
include hw_diag/static/fontawesome/css/v4-font-face.min.css
include hw_diag/static/fontawesome/css/v4-shims.css
include hw_diag/static/fontawesome/css/v4-shims.min.css
include hw_diag/static/fontawesome/css/v5-font-face.css
include hw_diag/static/fontawesome/css/v5-font-face.min.css
include hw_diag/static/fonts/Nunito-Bold.eot
include hw_diag/static/fonts/Nunito-Bold.svg
include hw_diag/static/fonts/Nunito-Bold.ttf
include hw_diag/static/fonts/Nunito-Bold.woff
include hw_diag/static/fonts/Nunito-Light.eot
include hw_diag/static/fonts/Nunito-Light.svg
include hw_diag/static/fonts/Nunito-Light.ttf
include hw_diag/static/fonts/Nunito-Light.woff
include hw_diag/static/fonts/Nunito-Light.woff2
include hw_diag/static/fonts/Nunito-Medium.eot
include hw_diag/static/fonts/Nunito-Medium.svg
include hw_diag/static/fonts/Nunito-Medium.ttf
include hw_diag/static/fonts/Nunito-Medium.woff
include hw_diag/static/fonts/Nunito-Medium.woff2
include hw_diag/static/fonts/Nunito-Regular.eot
include hw_diag/static/fonts/Nunito-Regular.svg
include hw_diag/static/fonts/Nunito-Regular.ttf
include hw_diag/static/fonts/Nunito-Regular.woff
include hw_diag/static/fonts/Nunito-SemiBold.eot
include hw_diag/static/fonts/Nunito-SemiBold.svg
include hw_diag/static/fonts/Nunito-SemiBold.ttf
include hw_diag/static/fonts/Nunito-SemiBold.woff
include hw_diag/static/fonts/custom-icons.ttf
include hw_diag/static/fonts/custom-icons.woff2
include hw_diag/static/fonts/fa-brands-400.ttf
include hw_diag/static/fonts/fa-brand-400.woff2
include hw_diag/static/fonts/fa-duotone-900.ttf
include hw_diag/static/fonts/fa-duotone-900.woff2
include hw_diag/static/fonts/fa-light-300.ttf
include hw_diag/static/fonts/fa-light-300.woff2
include hw_diag/static/fonts/fa-regular-400.ttf
include hw_diag/static/fonts/fa-regular-400.woff2
include hw_diag/static/fonts/fa-sharp-light-300.ttf
include hw_diag/static/fonts/fa-sharp-light-300.woff2
include hw_diag/static/fonts/fa-sharp-regular-400.ttf
include hw_diag/static/fonts/fa-sharp-regular-400.woff2
include hw_diag/static/fonts/fa-sharp-solid-900.ttf
include hw_diag/static/fonts/fa-sharp-solid-900.woff2
include hw_diag/static/fonts/fa-solid-900.ttf
include hw_diag/static/fonts/fa-solid-900.woff2
include hw_diag/static/fonts/fa-thin-100.ttf
include hw_diag/static/fonts/fa-thin-100.woff2
include hw_diag/static/fonts/fa-v4compatibility.ttf
include hw_diag/static/fonts/fa-v4compatibility.woff2
include hw_diag/static/fonts/materialdesignicons-webfont.eot
include hw_diag/static/fonts/materialdesignicons-webfont.ttf
include hw_diag/static/fonts/materialdesignicons-webfont.woff
include hw_diag/static/fonts/materialdesignicons-webfont.woff2
include hw_diag/static/fonts/remixicon.eot
include hw_diag/static/fonts/remixicon.svg
include hw_diag/static/fonts/remixicon.symbol.svg
include hw_diag/static/fonts/remixicon.ttf
include hw_diag/static/fonts/remixicon.woff
include hw_diag/static/fonts/remixicon.woff2
include hw_diag/static/fonts/unicons.eot
include hw_diag/static/fonts/unicons.svg
include hw_diag/static/fonts/unicons.ttf
include hw_diag/static/fonts/unicons.woff
include hw_diag/static/fonts/unicons.woff2
include hw_diag/static/images/Nebra-Dashboard-Logo-White.svg
include hw_diag/static/images/Nebra-Dashboard-Promo-Background-blue.webp
include hw_diag/static/images/Nebra-Dashboard-Promo-Icon-6-white.svg
include hw_diag/static/images/Nebra-Dashboard-Promo-Icon-2-white.svg
include hw_diag/static/images/Nebra-Dashboard-Promo-Icon-3-white.svg
include hw_diag/static/images/Nebra-Dashboard-Promo-Icon-4-white.svg
include hw_diag/static/images/Nebra-Dashboard-Promo-Icon-5-white.svg
include hw_diag/static/images/Nebra-Dashboard-Promo-Icon-6-white.svg
include hw_diag/static/images/favicon.ico
include hw_diag/static/images/nebra-icon-white.svg
include hw_diag/static/images/nebra-logo-white.png
include hw_diag/static/images/nebra-logo.svg
include hw_diag/static/js/app.js
include hw_diag/static/js/app.min.js
include hw_diag/static/js/bootstrap.min.js
include hw_diag/static/js/hyper-config.js
include hw_diag/static/js/hyper-syntax.js
include hw_diag/static/js/jquery-3.7.0.min.js
include hw_diag/static/js/vendor.min.js
include hw_diag/templates/backup_restore.html
include hw_diag/templates/device_configuration.html
include hw_diag/templates/device_info.html
include hw_diag/templates/helium_info.html
include hw_diag/templates/login_form.html
include hw_diag/templates/myst.html
include hw_diag/templates/password_change_form.html
include hw_diag/templates/password_reset.html
include hw_diag/templates/reconfigure_countdown.html
include hw_diag/templates/template_hyper.html
include hw_diag/templates/thix_dashboard.html
include hw_diag/templates/thix_error.html
include hw_diag/templates/thix_onboard.html
include hw_diag/templates/thix_setup.html
include hw_diag/templates/ttn_config.html
include hw_diag/templates/upgrade.html
