include hw_diag/static/fonts/Nunito-Bold.eot
include hw_diag/static/fonts/Nunito-Bold.svg
include hw_diag/static/fonts/Nunito-Bold.woff
include hw_diag/static/fonts/Nunito-Light.eot
include hw_diag/static/fonts/Nunito-Light.svg
include hw_diag/static/fonts/Nunito-Light.ttf
include hw_diag/static/fonts/Nunito-Light.woff
include hw_diag/static/fonts/Nunito-Light.woff2
include hw_diag/static/fonts/Nunito-Medium.eot
include hw_diag/static/fonts/Nunito-Medium.svg
include hw_diag/static/fonts/Nunito-Medium.ttf
include hw_diag/static/fonts/Nunito-Medium.woff
include hw_diag/static/fonts/Nunito-Medium.woff2
include hw_diag/static/fonts/Nunito-Regular.eot
include hw_diag/static/fonts/Nunito-Regular.svg
include hw_diag/static/fonts/Nunito-Regular.woff
include hw_diag/static/fonts/Nunito-SemiBold.eot
include hw_diag/static/fonts/Nunito-SemiBold.svg
include hw_diag/static/fonts/Nunito-SemiBold.ttf
include hw_diag/static/fonts/Nunito-SemiBold.woff
include hw_diag/static/fonts/materialdesignicons-webfont.eot
include hw_diag/static/fonts/materialdesignicons-webfont.ttf
include hw_diag/static/fonts/materialdesignicons-webfont.woff
include hw_diag/static/fonts/materialdesignicons-webfont.woff2
include hw_diag/static/fonts/remixicon.eot
include hw_diag/static/fonts/remixicon.svg
include hw_diag/static/fonts/remixicon.symbol.svg
include hw_diag/static/fonts/remixicon.ttf
include hw_diag/static/fonts/remixicon.woff
include hw_diag/static/fonts/remixicon.woff2
include hw_diag/static/fonts/unicons.eot
include hw_diag/static/fonts/unicons.svg
include hw_diag/static/fonts/unicons.ttf
include hw_diag/static/fonts/unicons.woff
include hw_diag/static/fonts/unicons.woff2
include hw_diag/static/css/app-saas.min.css
include hw_diag/static/css/icons.min.css
include hw_diag/static/js/app.js
include hw_diag/static/js/app.min.js
include hw_diag/static/js/hyper-config.js
include hw_diag/static/js/hyper-syntax.js
include hw_diag/static/js/vendor.min.js
include hw_diag/templates/js/
include hw_diag/templates/template_hyper.html
include hw_diag/templates/template.html
include hw_diag/templates/unauthenticated_template.html
include hw_diag/templates/password_reset.html
include hw_diag/templates/ttn_config.html
include hw_diag/templates/password_change_form.html
include hw_diag/templates/login_form.html
include hw_diag/templates/device_info.html
include hw_diag/templates/helium_info.html
include hw_diag/templates/device_configuration.html
include hw_diag/templates/reconfigure_countdown.html
include hw_diag/templates/upgrade.html
include hw_diag/static/css/bootstrap.min.css
include hw_diag/static/fonts/*.ttf
include hw_diag/static/images/nebra-logo.svg
include hw_diag/static/images/nebra-logo-white.png
include hw_diag/static/images/favicon.ico
include hw_diag/static/images/thingsix.svg
include hw_diag/static/images/myst.svg
include hw_diag/static/js/bootstrap.min.js
