 {% extends 'template_hyper.html' %}

 {% block title %}Device Information{% endblock %}

 {% block body %}
 {% if backup_pending|length != 0 %}
    <div class="modal show" id="backup-popup" tabindex="999" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Warning</h5>
          </div>
          <div class="modal-body">
            <p>Records indicate that you have added services that have not been backed up.<br><br>
              In order to avoid data loss you should create a backup after such configuration changes.
              You can do so by visiting the <a href='/backup_restore'>Backup Page</a>.<br><br>
              <strong><span class="text-danger">Warning: if your free trial or dashboard subscription expires and you 
              have not created a backup, your private keys for Mysterium and ThingsIX will be permanently lost!</span></strong>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" onclick="backup_button_clicked()" class="btn btn-primary">I understand</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      var myModal = null;
      document.addEventListener("DOMContentLoaded", function(event) {
        myModal = new bootstrap.Modal(document.getElementById('backup-popup'));
        myModal.show();
      });
      function backup_button_clicked() {
        myModal.hide();
      }
    </script>
    {% endif %}
     <div class="alert alert-myst alert-dismissible fade show mt-2" role="alert">
        <h2 class="alert-heading">Now supporting Multi-mining with MYST!</h2>
        <a href="https://www.nebra.com/blogs/news/unleashing-your-hotspot-dual-earnings-with-nebra-and-mystnodes" target="_blank"
            class="btn btn-outline-light">View More <i class="fa fa-chevron-right"></i></a>
     </div>
     <div class="content"><br/>
        <h3 class="text-center mb-4">Device Information</h3>

   <h4 class="text-center mb-4">Overall Status:
     {% if diagnostics.PF %}
     <span class="text-success">All Ok</span>
     {% else %}
     <span class="text-danger">Errors Found</span>
     {% endif %}
   </h4>

   <div class="row mb-4">
     <div class="col-12 col-lg-6 mb-4 mb-lg-0">
       <div class="card mb-0 h-100 table-responsive">
         <table class="table dt-responsive nowrap m-md-2 w-auto">
           <tr>
             {% if diagnostics.commercial_fleet %}
             <td><span class="uil uil-refresh icon"></span> Firmware Version</td>
             <td class="text-right">
              <span class="badge badge-light p-2"><i class="fa fa-star" aria-hidden="true"></i> Premium - {{ diagnostics.FW }} ({{ diagnostics.firmware_short_hash }})</span>
              </td>
             {% else %}
             <td><span class="uil uil-refresh icon"></span> Firmware Version</td>
             <td class="text-right">
              <span class="badge badge-light p-2">{{ diagnostics.FW }} ({{ diagnostics.firmware_short_hash }})</span>
              </td>
             {% endif %}
           </tr>
           <tr>
             <td><span class="uil uil-focus icon"></span> Variant</td>
             <td class="text-right">
              <span class="badge badge-light p-2">{{ diagnostics.FRIENDLY }}</span>
              </td>
           </tr>
           <tr>
             <td><span class="uil uil-shield-check icon"></span> Hardware Serial Number</td>
             <td class="text-right">
              <span class="badge badge-light p-2">{{ diagnostics.serial_number }}</span>
              </td>
           </tr>
           <tr>
             <td><span class="uil uil-external-link-alt icon"></span> Hostname</td>
             {% if hostname %}
             <td class="text-right">
              <span class="badge badge-light p-2">{{ hostname }}</span>
            </td>
             {% else %}
             <td class="text-danger text-right">Unknown</td>
             {% endif %}
           </tr>
           <tr>
             <td><span class="uil uil-cloud-data-connection icon"></span> Local IP Address</td>
             <td class="text-right">
              <div id="ip-addresses"></div>
             </td>
           </tr>
           <tr>
             <td><span class="uil uil-cloud-data-connection icon"></span> WAN IP Address</td>
             <td class="text-right">
              <span class="badge badge-light p-2">{{ wan_ip_address }}</span>
            </td>
           </tr>
           <tr>
             <td><span class="uil uil-data-sharing icon"></span> Ethernet MAC Address</td>
             {% if diagnostics.E0 %}
             <td class="text-right">
              <span class="badge badge-light p-2">{{ diagnostics.E0 }}</span>
              </td>
             {% else %}
             <td class="text-danger text-right">N/A</td>
             {% endif %}
           </tr>
           <tr>
             <td class="border-0"><span class="uil uil-data-sharing icon"></span> WiFi MAC Address</td>
             {% if diagnostics.W0 %}
             <td class="border-0 text-right">
              <span class="badge badge-light p-2">{{ diagnostics.W0 }}</span>
            </td>
             {% else %}
             <td class="border-0 text-danger text-right">N/A</td>
             {% endif %}
           </tr>
         </table>
       </div>
     </div>
     <div class="col-12 col-lg-6 mb-4 mb-lg-0">
       <div class="card mb-0 h-100 table-responsive">
         <table class="table dt-responsive nowrap m-md-2 w-auto">
           {% if display_lte  %}
           <tr>
             <td><span class="uil uil-cloud-computing icon"></span> Modem Detected</td>
             <td></td>
             {% if diagnostics.LTE %}
             <td class="progress-row">
               <span class="uil uil-check-circle text-success"></span>
             </td>
             {% else %}
             <td class="progress-row">
               <span class="uil uil-times-circle text-danger"></span>
             </td>
             {% endif %}
           </tr>
           {% endif %}
           <tr>
             <td><span class="uil uil-bluetooth-b icon"></span> Bluetooth Detected</td>
             <td></td>
             <td class="progress-row">
               {% if diagnostics.BT %}
               <span class="uil uil-check-circle text-success"></span>
               {% else %}
               <span class="uil uil-times-circle text-danger"></span>
               {% endif %}
             </td>
           </tr>
           <tr>
             <td><span class="uil uil-circuit icon"></span> CPU Usage</td>
             <td>
               {% if device_metrics.cpu > 79 %}
               {{ device_metrics.cpu|round|int }}%
               {% elif device_metrics.cpu > 59 %}
               {{ device_metrics.cpu|round|int }}%
               {% else %}
               {{ device_metrics.cpu|round|int }}%
               {% endif %}
             </td>
             <td class="text-right progress-row">
               <div class="progress progress-xl">
                 {% if device_metrics.cpu > 79 %}
                 <div class="progress-bar bg-danger text-black" role="progressbar"
                   style="width: {{ device_metrics.cpu|round|int }}%;"
                   aria-valuenow="{{ device_metrics.cpu|round|int }}" aria-valuemin="0" aria-valuemax="100"></div>
                 {% elif device_metrics.cpu > 59 %}
                 <div class="progress-bar bg-warning text-black" role="progressbar"
                   style="width: {{ device_metrics.cpu|round|int }}%;"
                   aria-valuenow="{{ device_metrics.cpu|round|int }}" aria-valuemin="0" aria-valuemax="100"></div>
                 {% else %}
                 <div class="progress-bar bg-success text-black" role="progressbar"
                   style="width: {{ device_metrics.cpu|round|int }}%;"
                   aria-valuenow="{{ device_metrics.cpu|round|int }}" aria-valuemin="0" aria-valuemax="100"></div>
                 {% endif %}
               </div>
             </td>
           </tr>
           <tr>
             <td><span class="uil uil-temperature-three-quarter icon"></span> CPU Temperature</td>
             <td>
               {% if device_metrics.temperature > 84 %}
               {{ device_metrics.temperature|round|int }}&deg;C
               {% elif device_metrics.temperature > 74 %}
               {{ device_metrics.temperature|round|int }}&deg;C
               {% else %}
               {{ device_metrics.temperature|round|int }}&deg;C
               {% endif %}
             </td>
             <td class="text-right progress-row">
               <div class="progress progress-xl">
                 {% if device_metrics.temperature > 84 %}
                 <div class="progress-bar bg-danger text-black" role="progressbar"
                   style="width: {{ device_metrics.temperature|round|int }}%;"
                   aria-valuenow="{{ device_metrics.temperature|round|int }}" aria-valuemin="0" aria-valuemax="100">
                 </div>
                 {% elif device_metrics.temperature > 74 %}
                 <div class="progress-bar bg-warning text-black" role="progressbar"
                   style="width: {{ device_metrics.temperature|round|int }}%;"
                   aria-valuenow="{{ device_metrics.temperature|round|int }}" aria-valuemin="0" aria-valuemax="100">
                 </div>
                 {% else %}
                 <div class="progress-bar bg-success text-black" role="progressbar"
                   style="width: {{ device_metrics.temperature|round|int }}%;"
                   aria-valuenow="{{ device_metrics.temperature|round|int }}" aria-valuemin="0" aria-valuemax="100">
                 </div>
                 {% endif %}
               </div>
             </td>
           </tr>
           <tr>
             <td><span class="uil uil-coins icon"></span> RAM Usage</td>
             <td>
               {{ (device_metrics.memory_used / 1048576)|round|int }} MB /
               {{ (device_metrics.memory_total / 1048576)|round|int }} MB
             </td>
             <td class="text-right progress-row">
               <div class="progress progress-xl">
                 <div class="progress-bar bg-success text-black" role="progressbar"
                   style="width: {{ ((device_metrics.memory_used/device_metrics.memory_total) * 100)|round|int }}%;"
                   aria-valuenow="{{ device_metrics.memory_used|round|int }}" aria-valuemin="0"
                   aria-valuemax="{{ device_metrics.memory_total|round|int }}"></div>
               </div>
             </td>
           </tr>
           <tr>
             <td class="border-0"><span class="uil uil-database icon"></span> Disk Usage</td>
             <td class="border-0">
               {{ "%.2f"|format((device_metrics.disk_used / 1073741824)|float) }} GB /
               {{ "%.2f"|format((device_metrics.disk_total / 1073741824)|float) }} GB
             </td>
             <td class="border-0 text-right progress-row">
               <div class="progress progress-xl">
                 <div class="progress-bar bg-success text-black" role="progressbar"
                   style="width: {{ ((device_metrics.disk_used/device_metrics.disk_total) * 100)|round|int }}%;"
                   aria-valuenow="{{ device_metrics.disk_used|round|int }}" aria-valuemin="0"
                   aria-valuemax="{{ device_metrics.disk_total|round|int }}"></div>
               </div>
             </td>
           </tr>
         </table>
       </div>
     </div>
   </div>

   <div class="text-center">
     {% if diagnostics.last_updated %}
     <p>Last Updated: {{ diagnostics.last_updated }}</p>
     {% else %}
     <p>Last Updated: Never</p>
     {% endif %}
     <p>To get support please visit <a href="https://nebra.io/support-diag-footer">the Nebra knowledgebase</a></p>
     {% if diagnostics.commercial_fleet %}
     <p><a href="https://dashboard.nebra.com/devices/{{ diagnostics.serial_number }}/">View your device on dashboard</a></p>
     {% else %}
     <p><a href={{ claim_deeplink }}>Claim your device on dashboard</a></p>
     {% endif %}
     <p><a href="/json">Download Diagnostics Info for Support</a></p>
   </div>
 </div>

 <script>
  // Split the IP address string into an array of strings
  var ipAddressArray = "{{ device_info.ip_address }}".split(" ");

  // Get a reference to the parent div for the IP addresses
  var ipAddressesDiv = document.getElementById('ip-addresses');

  // Loop over the IP address array and create a new span element for each octet
  for (var ipAddress of ipAddressArray) {
    var octetSpan = document.createElement('span');
    octetSpan.classList.add('badge', 'badge-light', 'p-2', 'mb-1');
    octetSpan.innerHTML = ipAddress;

    ipAddressesDiv.appendChild(octetSpan);
  }
</script>

 {% endblock %}
