{% extends 'template_hyper.html' %}

{% block title %}Device Configuration{% endblock %}

{% block body %}
    <div class="modal fade" id="modalReboot" tabindex="-1" aria-labelledby="modalRebootLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalRebootLabel">Reboot Hotspot</h5>
          </div>
          <div class="modal-body">
              <p>
                  If your hotspot is not responding properly you can use this page to reboot it. A
                  soft reboot only restarts the hotspot software and a hard reboot will reboot the
                  entire device. Soft reboots take around 1 minute, and hard reboots around 3 minutes.
                  Once complete you'll be automatically redirected back to the login form.
              </p>
              <p>
                <div id="counterReboot" style="text-align: center;"></div>
                <script>
                    var rebootCount = 180;
                    var rebootTimer = '';

                    function doSoftReboot() {
                        rebootCount = 60;
                        fetch("/reboot?type=soft", {"method": "GET"});
                        document.getElementById("btnRebootClose").disabled = true;
                        document.getElementById("btnRebootSoft").disabled = true;
                        document.getElementById("btnRebootHard").disabled = true;
                        rebootTimer = setInterval(tickRebootCounter, 1000);
                    }

                    function doHardReboot() {
                        fetch("/reboot?type=hard", {"method": "GET"});
                        document.getElementById("btnRebootClose").disabled = true;
                        document.getElementById("btnRebootSoft").disabled = true;
                        document.getElementById("btnRebootHard").disabled = true;
                        rebootTimer = setInterval(tickRebootCounter, 1000);
                    }

                    function tickRebootCounter() {
                        rebootCount--;
                        document.getElementById("counterReboot").innerHTML = rebootCount;
                        console.log(rebootCount);
                        if (rebootCount == 0) {
                            clearInterval(rebootTimer);
                            window.location.href = "/";
                        }
                    }
                </script>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" id="btnRebootClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="btnRebootSoft" class="btn btn-warning" onclick="doSoftReboot()">Soft Reboot</button>
            <button type="button" id="btnRebootHard" class="btn btn-danger" onclick="doHardReboot()">Hard Reboot</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalShutdown" tabindex="-1" aria-labelledby="modalShutdownLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalShutdownLabel">Shutdown Hotspot</h5>
          </div>
          <div class="modal-body">
              <p>
                  <strong><span class="text-danger">Warning: </span></strong> Shutting down your hotspot requires physical
                  access to power it back on. Are you sure you want to shutdown your hotspot?
              </p>
              <p>
                <div id="counterShutdown"></div>
                <script>
                    function doShutdown() {
                        fetch("/shutdown", {"method": "GET"});
                        document.getElementById("btnShutdownClose").disabled = true;
                        document.getElementById("btnShutdown").disabled = true;
                    }
                </script>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnShutdownClose">Close</button>
            <button type="button" class="btn btn-danger" onclick="doShutdown()" id="btnShutdown">Shutdown</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalPurge" tabindex="-1" aria-labelledby="modalPurgeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalPurgeLabel">Reset to Factory Defaults</h5>
          </div>
          <div class="modal-body">
              <p>
                  <strong><span class="text-danger">Warning: </span></strong> This will reset your hotspot to factory
                  defaults. Once complete you'll need to use the default password to login and all configurations will
                  be lost. This process may take up to 5 minutes to complete. Are you sure you wish to proceed?
              </p>
              <p>
                <div id="counterPurge" style="text-align: center;"></div>
                <script>
                    var purgeCounter = 300;
                    var purgeTimer = '';

                    function doPurge() {
                        fetch("/purge", {"method": "GET"});
                        document.getElementById("btnPurgeClose").disabled = true;
                        document.getElementById("btnPurge").disabled = true;
                        purgeTimer = setInterval(tickPurgeCounter, 1000);
                    }

                    function tickPurgeCounter() {
                        purgeCounter--;
                        document.getElementById("counterPurge").innerHTML = purgeCounter;
                        console.log(purgeCounter);
                        if (purgeCounter == 0) {
                            clearInterval(purgeTimer);
                            window.location.href = "/";
                        }
                    }
                </script>
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnPurgeClose">Close</button>
            <button type="button" class="btn btn-danger" id="btnPurge" onclick="doPurge()">Reset to Factory Defaults</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalReconfigure" tabindex="-1" aria-labelledby="modalReconfigureLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalReconfigureLabel">Reconfiguring Hotspot</h5>
          </div>
          <div class="modal-body">
              <p>
                  Your hotspot is currently being reconfigured. You will be redirected automatically once complete.
              </p>
              <p>
                <div id="counterReconfigure" style="text-align: center;"></div>
                <script>
                    var reconfigureCount = 30;
                    var reconfigureTimer = '';

                    function tickReconfigureCounter() {
                        reconfigureCount--;
                        document.getElementById("counterReconfigure").innerHTML = reconfigureCount;
                        console.log(reconfigureCount);
                        if (reconfigureCount == 0) {
                            clearInterval(reconfigureTimer);
                            window.location.href = "/";
                        }
                    }
                </script>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="content"><br/>
    <div class="text-center">
        <h3 class="text-center mb-4">Device Configuration</h3>
        <p class="text-center mb-4">
           <h4>Quick Tasks</h4>
           <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalReboot">Reboot</button>
           <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalShutdown">Shutdown</button>
           <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalPurge">Reset to Factory Defaults</button>
           <br/>
           <br/>
        </p>
        {% if has_external_antenna_support %}
        <p class="text-center mb-4">
          <script>
            function handleExternalAntennaButton() {
                var button = document.getElementById('btnExternalAntenna');
                if (button.externalAntennaEnabled == null) {
                    /* Query */
                    button.disabled = true;
                    button.innerText = 'Querying...';
                    fetch('/external_antenna', {
                        method: 'GET',
                    }).then(
                        response => response.text()
                    ).then(result => {
                        button.disabled = false;
                        var enabled = JSON.parse(result);
                        button.externalAntennaEnabled = enabled;
                        if (enabled) {
                            button.innerText = 'Disable';
                        }
                        else {
                            button.innerText = 'Enable';
                        }
                    }).catch(e => {
                        console.error(e);
                        button.disabled = false;
                        button.innerText = 'Error';
                    });
                }
                else if (button.externalAntennaEnabled) {
                    /* Disable */
                    button.disabled = true;
                    button.innerText = 'Disabling...';
                    fetch('/external_antenna', {
                        method: 'PUT',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(false)
                    }).then(
                        response => response.text()
                    ).then(result => {
                        button.disabled = false;
                        var resultJson = JSON.parse(result);
                        if (resultJson.action_invoked) {
                            button.externalAntennaEnabled = false;
                            button.innerText = 'Enable';
                        }
                        else {
                            button.innerText = 'Error';
                        }
                    }).catch(e => {
                        console.error(e);
                        button.disabled = false;
                        button.innerText = 'Error';
                    });
                }
                else {
                    /* Enable */
                    button.disabled = true;
                    button.innerText = 'Enabling...';
                    fetch('/external_antenna', {
                        method: 'PUT',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(true)
                    }).then(
                        response => response.text()
                    ).then(result => {
                        button.disabled = false;
                        var resultJson = JSON.parse(result);
                        if (resultJson.action_invoked) {
                            button.externalAntennaEnabled = true;
                            button.innerText = 'Disable';
                        }
                        else {
                            button.innerText = 'Error';
                        }
                    }).catch(e => {
                        console.error(e);
                        button.disabled = false;
                        button.innerText = 'Error';
                    });
                }
            }
          </script>
          <h4>External Antenna</h4>
          <button type="button" class="btn btn-primary" onClick="handleExternalAntennaButton()" id="btnExternalAntenna">Query</button>
          <br/>
          <br/>
        </p>
        {% endif %}
    </div>

        <div class="row mb-4">
          <div class="col-12 col-lg-3 mb-4 mb-lg-0">
          </div>
          <div class="col-12 col-lg-6 mb-4 mb-lg-0" style="padding:20px">
            <div class="card mb-0 h-100">
              <p>
                <div class="row">
                    <div class="col-1"></div>
                        <div class="col-10">
                          <h4>Update Device Hostname</h4>
                          <br/>
                          {% if msg %}
                            <span>{{ msg }}</span>
                            <br/><br/>
                          {% endif %}
                            <div class="form-group">
                              <input type="text" class="form-control" id="txtHostname" name="txtHostname" value="{{ hostname }}" />
                              <br/>
                              <script>
                                function updateHostname() {
                                    var hostname = document.getElementById("txtHostname").value;
                                    var payload = {hostname: hostname};

                                    fetch('/change_hostname', {
                                        method: 'POST',
                                        headers: {
                                          'Accept': 'application/json',
                                          'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(payload)
                                    });

                                    reconfigureTimer = setInterval(tickReconfigureCounter, 1000);
                                    var reconfigureModal = new bootstrap.Modal(document.getElementById("modalReconfigure"), {});
                                    reconfigureModal.show();
                                }
                              </script>
                              <div class="text-center"><button class="btn btn-primary" onClick="updateHostname()">Update Hostname</button></div>
                            </div>
                        </div>
                    <div class="col-1"></div>
                </div>
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-3 mb-4 mb-lg-0">
          </div>
        </div>
    </div>
{% endblock %}
