<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="300">
  <title>Nebra Hotspot Diagnostics</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <meta name="theme-color" content="#03a9f4">
  <meta name="robots" content="noindex, nofollow">
</head>
<body>
  <header class="bg-white mb-4 d-flex justify-content-center">
    <a href="#" class="p-3 text-center">
      <img src="/static/images/nebra-logo.svg"  height="32" alt="Nebra Logo" />
    </a>
  </header>
  <section class="container pb-4">

        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <h2 class="alert-heading">What happened to sync percentage?</h2>
            <p>Helium has converted all existing hotspots into <a
                    href="https://blog.helium.com/light-hotspots-explained-everything-you-need-to-know-f86612f571c6"
                    target="_blank">light hotspots</a>. Sync percentage and other blockchain features are now handled by
                validators, not hotspots. We appreciate your patience with any issues during the transition period.</p>
            <a href="https://engineering.helium.com/2022/07/14/miner-hotspot-release.html" target="_blank"
                class="btn btn-light">More Information</a>
            <style>
                .alert {
                    border-radius: 8px;
                }

                .alert-primary {
                    background-color: #02A8F5;
                    color: white;
                }

                .alert-primary a {
                    color: white;
                    font-weight: 600;
                }

                .alert-primary .btn-light {
                    color: #02A8F5;
                    border-radius: 50px;
                }
            </style>
        </div>

      {% if diagnostics.error %}
        <div class="text-center pb-4 mb-4 border-bottom border-light">
          <h1>Diagnostics Information</h1>
          <br />
          <h3>{{ diagnostics.error }}</h3>
        </div>
      {% else %}
        <div class="text-center pb-4 mb-4 border-bottom border-light">
            <h1>Diagnostics Information</h1>
            <br />
            <h3>
              {% if not diagnostics.AN %}
                Animal Name Unavailable
              {% else %}
                {{ diagnostics.AN }}
              {% endif %}
            </h3>
            {% if diagnostics.PF %}
                    <h3 class="text-success">All Ok</h3>
            {% else %}
                    <h3 class="text-danger">Errors Found</h3>
            {% endif %}
        </div>
        <h3 class="text-center mb-4">Diagnostics Breakdown</h3>
        <div class="row mb-4">
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-0 h-100">
              <table class="table dt-responsive nowrap m-2 w-auto">
                <tr>
                  {% if not diagnostics.PK %}
                    <td class="border-0">Helium Address</td>
                    <td class="border-0 text-right">Animal Name Unavailable</td>
                  {% else %}
                    <td class="border-0">Helium Address</td>
                    <td class="border-0 text-right"><a href="https://explorer.helium.com/hotspots/{{ diagnostics.PK }}" target="_blank">View on Explorer</a></td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Firmware Version</td>
                  <td class="text-right">{{ diagnostics.FW }} ({{ diagnostics.firmware_short_hash }})</td>
                </tr>
                <tr>
                  <td>Frequency</td>
                  <td class="text-right">{{ diagnostics.FR }}</td>
                </tr>
                <tr>
                  <td>Region Plan</td>
                  {% if not diagnostics.has_errors([DIAG_CONSTS.GATEWAY_REGION_KEY]) %}
                    <td class="text-right">{{ diagnostics.get(DIAG_CONSTS.GATEWAY_REGION_KEY) }}</td>
                  {% else %}
                    <td class="text-right">Unknown Location</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Variant</td>
                  <td class="text-right">{{ diagnostics.FRIENDLY }}</td>
                </tr>
                <tr>
                  <td>Connected Validator</td>
                  {% if not diagnostics.has_errors([DIAG_CONSTS.VALIDATOR_URI_KEY]) %}
                    <td class="border-0 text-success text-right"><a href="https://explorer.helium.com/validators/{{ diagnostics.get(DIAG_CONSTS.VALIDATOR_ADDRESS_KEY) }}"
                        target="_blank">{{ diagnostics.get(DIAG_CONSTS.VALIDATOR_URI_KEY) }}</a></td>
                  {% else %}
                    <td class="text-warning text-right">Disconnected</td>
                  {% endif %}
                </tr>
                <tr>
                    <td>Radio Operational</td>
                    {% if diagnostics.LOR %}
                      <td class="text-success text-right">True</td>
                    {% else %}
                      <td class="text-danger text-right">False</td>
                    {% endif %}
                </tr>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-0 h-100">
              <table class="table dt-responsive nowrap m-2 w-auto">
                <tr>
                  <td class="border-0">ECC Detected</td>
                  {% if diagnostics.ECC %}
                    <td class="border-0 text-success text-right">True</td>
                  {% else %}
                    <td class="border-0 text-danger text-right">False</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Ethernet MAC Address</td>
                  {% if diagnostics.E0 %}
                  <td class="text-right">{{ diagnostics.E0 }}</td>
                  {% else %}
                    <td class="text-danger text-right">N/A</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>WiFi MAC Address</td>
                  {% if diagnostics.W0 %}
                  <td class="text-right">{{ diagnostics.W0 }}</td>
                  {% else %}
                    <td class="text-danger text-right">N/A</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Hardware Serial Number</td>
                  <td class="text-right">{{ diagnostics.serial_number }}</td>
                </tr>
                <tr>
                  <td>Bluetooth Detected</td>
                  {% if diagnostics.BT %}
                    <td class="text-success text-right">True</td>
                  {% else %}
                    <td class="text-danger text-right">False</td>
                  {% endif %}
                </tr>
                {% if display_lte  %}
                  <tr>
                    <td>Modem Detected</td>
                    {% if diagnostics.LTE %}
                      <td class="text-success text-right">True</td>
                    {% else %}
                      <td class="text-warning text-right">False</td>
                    {% endif %}
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      {% endif %}
    <div class="text-center">
      {% if diagnostics.last_updated %}
        <p>Last Updated: {{ diagnostics.last_updated }}</p>
      {% else %}
        <p>Last Updated: Never</p>
      {% endif %}
      <p>To get support please visit <a href="https://nebra.io/helium-support">https://nebra.io/helium-support</a></p>
      <p><a href="/json">Download Diagnostics Info for Support</a></p>
      <p>&copy; Nebra LTD. 2020-{{ now.year }}<p>
    </div>
  </section>
</body>
</html>
