 {% extends 'template.html' %}

 {% block title %}Diagnostics{% endblock %}

 {% block body %}
    {% if not diagnostics.error %}
        <h3 class="text-center mb-4">Diagnostics Breakdown</h3>
        <div class="row mb-4">
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-0 h-100">
              <table class="table dt-responsive nowrap m-2 w-auto">
                <tr>
                  {% if not diagnostics.PK %}
                    <td class="border-0">Helium Address</td>
                    <td class="border-0 text-right">Animal Name Unavailable</td>
                  {% else %}
                    <td class="border-0">Helium Address</td>
                    <td class="border-0 text-right"><a href="https://explorer.helium.com/hotspots/{{ diagnostics.PK }}" target="_blank">View on Explorer</a></td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Firmware Version</td>
                  <td class="text-right">{{ diagnostics.FW }} ({{ diagnostics.firmware_short_hash }})</td>
                </tr>
                <tr>
                  <td>Frequency</td>
                  <td class="text-right">{{ diagnostics.FR }}</td>
                </tr>
                <tr>
                  <td>Region Plan</td>
                  {% if diagnostics.RE == 'UN123' %}
                    <td class="text-right">Awaiting Location Assertion</td>
                  {% else %}
                    <td class="text-right">{{ diagnostics.RE }}</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Variant</td>
                  <td class="text-right">{{ diagnostics.FRIENDLY }}</td>
                </tr>
                <tr>
                    <td>Radio Operational</td>
                    {% if diagnostics.LOR %}
                      <td class="text-success text-right">True</td>
                    {% elif diagnostics.RE == 'UN123' and not diagnostics.LOR %}
                      <td class="text-right">Awaiting Location Assertion</td>
                    {% else %}
                      <td class="text-danger text-right">False</td>
                    {% endif %}
                </tr>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-0 h-100">
              <table class="table dt-responsive nowrap m-2 w-auto">
                <tr>
                  <td class="border-0">ECC Detected</td>
                  {% if diagnostics.ECC %}
                    <td class="border-0 text-success text-right">True</td>
                  {% else %}
                    <td class="border-0 text-danger text-right">False</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Ethernet MAC Address</td>
                  {% if diagnostics.E0 %}
                  <td class="text-right">{{ diagnostics.E0 }}</td>
                  {% else %}
                    <td class="text-danger text-right">N/A</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>WiFi MAC Address</td>
                  {% if diagnostics.W0 %}
                  <td class="text-right">{{ diagnostics.W0 }}</td>
                  {% else %}
                    <td class="text-danger text-right">N/A</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Hardware Serial Number</td>
                  <td class="text-right">{{ diagnostics.serial_number }}</td>
                </tr>
                <tr>
                  <td>Bluetooth Detected</td>
                  {% if diagnostics.BT %}
                    <td class="text-success text-right">True</td>
                  {% else %}
                    <td class="text-danger text-right">False</td>
                  {% endif %}
                </tr>
                {% if display_lte  %}
                  <tr>
                    <td>Modem Detected</td>
                    {% if diagnostics.LTE %}
                      <td class="text-success text-right">True</td>
                    {% else %}
                      <td class="text-warning text-right">False</td>
                    {% endif %}
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        <p>
          {{ device_status }}
        </p>
      {% endif %}
{% endblock %}
