 {% extends 'template_hyper.html' %}

 {% block title %}Helium Diagnostics{% endblock %}

 {% block body %}
     <div class="content"><br/>
        <h3 class="text-center mb-4">Helium Information</h3>

         <h4 class="text-center mb-4">Helium Status:
        {% if diagnostics.PF %}
                    <span class="text-success">All Ok</span>
            {% elif diagnostics.RE == 'UN123' or diagnostics.RE == 'UNKNOWN' %}
                    <span class="text-warning">Awaiting Location Assertion</span>
            {% else %}
                    <span class="text-danger">Errors Found</span>
            {% endif %}
        </h4>

        <div class="row mb-4">
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-0 h-100 table-responsive">
              <table class="table dt-responsive nowrap m-md-2 w-auto">
                <tr>
                  {% if not diagnostics.PK %}
                    <td><span class="uil uil-focus icon"></span> Hotspot Name</td>
                    <td class="text-right">Not Available</td>
                  {% else %}
                    <td><span class="uil uil-focus icon"></span> Hotspot Name</td>
                    <td class="text-right">
                      <span class="badge badge-light p-2">{{ diagnostics.AN }}</span>
                    </td>
                  {% endif %}
                </tr>
                <tr>
                  {% if not diagnostics.PK %}
                    <td><i class="uil uil-sign-alt"></i> Helium Address</td>
                    <td class="text-right">Not Available</td>
                  {% else %}
                    <td><i class="uil uil-sign-alt"></i> Helium Address</td>
                    <td class="text-right">
                      <span class="badge badge-light p-2">{{ diagnostics.PK }}</span>
                    </td>
                  {% endif %}
                </tr>
                <tr>
                  {% if not diagnostics.PK %}
                    <td><i class="fa-kit fa-helium"></i> Explorer Link</td>
                    <td class="text-right">Not Available</td>
                  {% else %}
                    <td><i class="fa-kit fa-helium"></i> Explorer Link</td>
                    <td class="text-right">
                     <span class="badge badge-light p-2"><a href="https://explorer.helium.com/hotspots/{{ diagnostics.PK }}" target="_blank">View on Explorer</a></span>
                    </td>
                  {% endif %}
                </tr>
                <tr>
                 <td><span class="uil uil-rss icon"></span> Frequency</td>
                  {% if not diagnostics.FR %}
                    <td class="text-right">
                      <span class="badge badge-light p-2">N/A (Not Required)</span>
                    </td>
                  {% elif "N/A" in diagnostics.FR %}
                    <td class="text-right">
                      <span class="badge badge-light p-2">{{ diagnostics.FR }}</span>
                    </td>
                  {% else %}
                    <td class="text-right">
                      <span class="badge badge-light p-2">{{ diagnostics.FR }} MHz</span>
                    </td>
                  {% endif %}
                </tr>
                <tr>
                  {% if diagnostics.RE == 'UN123' or diagnostics.RE == 'UNKNOWN' %}
                    <td class="border-0"><span class="fa-sharp fa-regular fa-earth-europe"></span> Region Plan</td>
                    <td class="border-0 text-right">Awaiting Location Assertion</td>
                  {% else %}
                    <td class="border-0"><span class="fa-sharp fa-regular fa-earth-europe"></span> Region Plan</td>
                    <td class="border-0 text-right">
                      <span class="badge badge-light p-2">{{ diagnostics.RE }}</span>
                    </td>
                  {% endif %}
                </tr>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-0 h-100 table-responsive">
              <table class="table dt-responsive nowrap m-md-2 w-auto">
                <tr>
                    <td><span class="uil uil-wifi-router icon"></span> Radio Operational</td>
                    {% if diagnostics.LOR %}
                      <td class="text-right"><span class="uil uil-check-circle text-success"></span></td>
                    {% elif (diagnostics.RE == 'UN123' or diagnostics.RE == 'UNKNOWN') and not diagnostics.LOR %}
                      <td class="text-right">Awaiting Location Assertion</td>
                    {% else %}
                      <td class="text-right"><span class="uil uil-times-circle text-danger"></span></td>
                    {% endif %}
                </tr>
                <tr>
                  <td class="border-0"><span class="uil uil-key-skeleton icon"></span> ECC Detected</td>
                  {% if diagnostics.ECC %}
                    <td class="border-0 text-right"><span class="uil uil-check-circle text-success"></span></td>
                  {% else %}
                    <td class="border-0 text-right"><span class="uil uil-times-circle text-danger"></span></td>
                  {% endif %}
                </tr>
              </table>
            </div>
          </div>
        </div>
       <div class="text-center">
          {% if diagnostics.last_updated %}
            <p>Last Updated: {{ diagnostics.last_updated }}</p>
          {% else %}
            <p>Last Updated: Never</p>
          {% endif %}
      </div>
     </div>
{% endblock %}
