{% extends 'template_hyper.html' %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="content"><br/>
        <h3 class="text-center mb-4">Login</h3>
        <div class="row mb-4">
            <div class="col-12 col-lg-3 mb-4 mb-lg-0"></div>
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <div class="card p-3">
                    <div class="row">
                        {% if msg %}
                            <span style="color: red; text-align: center;">{{ msg }}</span><br/><br/>
                        {% endif %}
                        <form method="POST" action="/login">
                            <div class="form-group">
                                <input type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Password" />
                            </div>
                            <br/>
                            <div class="text-center"><button type="submit" class="btn btn-primary w-100">Login</button></div>
                        </form>
                    </div>
                </div>
                <small class="mb-3">
                    Hint: The default password is the
                    {% if diagnostics.E0 %}
                        Ethernet
                    {% else %}
                        WiFi
                    {% endif %}
                    MAC address of your device (in upper case and without any colons) which may be found on your device's identification sticker.
                </small>
                <p class="text-center mt-3"><a href="/reset_password">Forgotten Password?</a></p>
            </div>
            <div class="col-12 col-lg-3 mb-4 mb-lg-0"></div>
        </div>
    </div>
{% endblock %}
