{% extends 'template_hyper.html' %}

{% block title %}Nebra OpenFleet{% endblock %}

{% block body %}
    <div class="content">
        <br/>
        <h3 class="text-center mb-4">Nebra OpenFleet</h3>
        <p class="text-center">
            Error claiming on <a href="https://nebra.io/dashboard-diag-openfleet" target="_blank">Nebra Dashboard</a>. If you are running this software on
            balenaCloud or on your own openBalena instance, you will not be able to claim your device on the Nebra Dashboard. In order to use the Nebra
            Dashboard for remote management of your device you will need to use the Nebra software images from the Nebra Hub.
        </p>
        <p class="text-center">
            You can find all of the software images on the <a href="https://nebra.io/hub-diag-openfleet" target="_blank">Nebra Hub</a> and you can also find
            <a href="https://nebra.io/support-diag-openfleet" target="_blank">detailed installation guides on our support pages</a>.
        </p>
    </div>
{% endblock %}
