 {% extends 'template_hyper.html' %}

 {% block title %}Change Password{% endblock %}

 {% block body %}
     <div class="content"><br/>
        <h3 class="text-center mb-4">Change Password</h3>
        <div class="row mb-4">
          <div class="col-12 col-lg-3 mb-4 mb-lg-0">
          </div>
          <div class="col-12 col-lg-6 mb-4 mb-lg-0" style="padding:20px">
            <div class="card mb-0 h-100">
              <p>
                <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                          {% if msg %}
                            <span style="color: {{ color }}; text-align: center;">{{ msg }}<br/></span><br/>
                          {% endif %}
                          <form method="POST" action="/change_password">
                            <div class="form-group">
                              <input type="password" class="form-control" id="txtOriginalPassword" name="txtOriginalPassword" placeholder="Current Password" />
                              <br />
                              <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" placeholder="New Password" />
                              <br />
                              <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Confirm New Password" />
                              <br />
                              <div class="text-center"><button type="submit" class="btn btn-primary">Change Password</button></div>
                            </div>
                          </form>
                        </div>
                        <div class="col-1"></div>
                </div>
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-3 mb-4 mb-lg-0">
          </div>
        </div>
     </div>
{% endblock %}
