{% extends 'template_hyper.html' %}
{% block title %}Password Reset{% endblock %}

{% block body %}
    <div class="content"><br/>
        <h3 class="text-center mb-4">Password Reset</h3>

        <div class="row mb-4">
            <div class="col-12 col-lg-3 mb-4 mb-lg-0"></div>
            <div class="col-12 col-lg-6 mb-4 mb-lg-0" style="padding:20px">
                <div class="card mb-0 h-100">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <br />
                            {% if (button) %}
                                <p>
                                    Press and hold your miner's button for at-least 5 seconds to reset device's password.
                                    You must complete this within 60 seconds, if you require more time please refresh the page.
                                </p>
                                <p>
                                    <div id="counter" style="text-align: center;"></div>
                                    <script>
                                        var count = 60
                                        timer = setInterval(function() {
                                               var requestOptions = {
                                                  method: 'GET',
                                                  redirect: 'follow'
                                                };

                                                fetch("/password_reset", requestOptions)
                                                  .then(response => response.text())
                                                  .then(result => {
                                                    const jsonResult = JSON.parse(result);
                                                    console.log(jsonResult);
                                                    if (jsonResult.password_updated) {
                                                      clearInterval(timer);
                                                      document.getElementById("counter").innerHTML = "Password Reset!";
                                                    }
                                                  })
                                                  .catch(error => console.log('error', error));
                                                count--
                                                document.getElementById("counter").innerHTML = count;
                                                console.log(count)
                                                if(count == 0) clearInterval(timer);
                                            }, 1000
                                        );
                                    </script>
                                </p>
                                <div class="text-center"><p><a href="/login">Cancel</a> | <a href="/reset_password">Refresh</a></p></div>
                            {% else %}
                                <p>
                                    Devices without a diagnostics button are unable to complete password reset. For
                                    further information please refer to the <a href="https://nebra.io/pass" target="_blank">Nebra Password Reset Support Article</a>.
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-4 mb-lg-0"></div>
        </div>
    </div>
{% endblock %}
