 {% extends 'template.html' %}

 {% block title %}Change Password{% endblock %}

 {% block body %}
        <h3 class="text-center mb-4">Change Password</h3>
        <div class="row mb-4">
          <div class="col-12 col-lg-3 mb-4 mb-lg-0">
          </div>
          <div class="col-12 col-lg-6 mb-4 mb-lg-0" style="padding:20px">
            <div class="card mb-0 h-100">
              <p>
                  {% if msg %}
                    <span style="color: red; text-align: center;">{{ msg }}</span><br/>
                  {% endif %}
                <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                          <form method="POST" action="/change_password">
                            <div class="form-group">
                              <input type="password" class="form-control" id="txtOriginalPassword" name="txtOriginalPassword" placeholder="Current Password" style="width: 90%" />
                              <br />
                              <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" placeholder="New Password" style="width: 90%" />
                              <br />
                              <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="Confirm New Password" style="width: 90%" />
                              <br />
                              <span style="text-align: center;"><button type="submit" class="btn btn-primary">Change Password</button></span>
                            </div>
                          </form>
                        </div>
                        <div class="col-1"></div>
                </div>
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-3 mb-4 mb-lg-0">
          </div>
        </div>
{% endblock %}
