{% extends 'template_hyper.html' %}
{% block title %}Reconfiguring Device{% endblock %}

{% block body %}
    <div class="content"><br/>
        <div class="row mb-4">
            <div class="col-12 col-lg-3 mb-4 mb-lg-0"></div>
            <div class="col-12 col-lg-6 mb-4 mb-lg-0" style="padding:20px">
                <div class="card mb-0 h-100">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <br />
                                <p>
                                    Your device is currently being reconfigured, please wait {{ seconds }} for reconfiguration to complete.
                                    This page will automatically redirect you after {{ seconds }} seconds.
                                </p>
                                <p>
                                    <div id="counter" style="text-align: center;"></div>
                                    <script>
                                        var count = {{ seconds }};
                                        timer = setInterval(function() {
                                                count--;
                                                document.getElementById("counter").innerHTML = count;
                                                console.log(count);
                                                if (count == 0) {
                                                  clearInterval(timer);
                                                  window.location.href = '{{ next_url }}';
                                                }
                                            }, 1000
                                        );
                                    </script>
                                </p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-4 mb-lg-0"></div>
        </div>
    </div>
{% endblock %}
