{% extends 'template_hyper.html' %}

{% block title %}ThingsIX Configuration{% endblock %}

{% block body %}
        <h3 class="text-center mb-4">ThingsIX Configuration</h3>
        <p class="text-center">
            Error loading ThingsIX details. If you recently onboarded your gateway you will need to wait until the Polygon network completes
            its confirmations until your gateway information is visible on this page. This may take between a few minutes and a few hours depending
            on the gas fee you opted to pay during the gateway onboard transaction.
        </p>
{% endblock %}
