 {% extends 'template_hyper.html' %}

 {% block title %}Upgrade to Premium Firmware{% endblock %}

 {% block body %}
     <div class="content">
         <style>
            .dashboard-upsell--main {
              background-image: url("{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Background-blue.webp') }}");
              background-position: center center;
              background-size: cover;
              border-radius: 25px;
              padding: 50px;
            }

            .dashboard-upsell--logo {
              max-width: 60%;
              height: auto;
            }

            .dashboard-upsell--card {
              height: 100%;
              text-align: center;
              color: white;
              background: rgb(255, 255, 255, 0.1) !important;
              backdrop-filter: blur(10px);
              border: none;
            }

            .dashboard-upsell--card img {
              height: 125px;
              margin: 0 auto;
              padding: 25px 25px 0 25px;
            }

            .dashboard-upsell--button {
              color: #02a8f5;
              padding-left: 50px !important;
              padding-right: 50px !important;
            }

            .dashboard-upsell--button:hover {
              color: #02a8f5;
              box-shadow: 0 0 30px rgba(80, 244, 248, 0.75);
              transition: box-shadow 0.3s ease-in-out;
              transform: scale(1.01, 1.01);
              transition: all 0.3s b ease-in-out;
            }

            .dashboard-upsell--button h3 {
              margin: 0;
            }
         </style>

         <div class="mx-auto p-md-3">
            <main class="dashboard-upsell--main">

              <img class="dashboard-upsell--logo img-responsive mb-3"
                src="{{ url_for('static',filename='images/Nebra-Dashboard-Logo-white.svg') }}"
                height="50px" alt="Nebra Dashboard">
              <h1 class="text-white">Upgrade to the full experience today!</h1>
              <p class="text-light mb-5">The Nebra Dashboard provides extra features like remote reboot, hardware diagnostics,
                premium firmware and priority support. Control your device from anywhere, monitor its health, get advanced
                functionality, improved performance and receive quick assistance from a dedicated team. Upgrade your
                device's performance and experience peace of mind.</p>

              <div class="row">
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Icon-1-white.svg') }}"
                      class="card-img-top" alt="Remote Reboot">
                    <div class="card-body">
                      <h3 class="card-title">Remote Reboot</h3>
                      <p class="card-text">Hotspot not responding? Reboot it without visiting its location.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Icon-2-white.svg') }}images/Nebra-Dashboard-Promo-Icon-2-white.svg"
                      class="card-img-top" alt="Hardware Diagnostics">
                    <div class="card-body">
                      <h3 class="card-title">Hardware Diagnostics</h3>
                      <p class="card-text">Access diagnostics information from anywhere.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Icon-3-white.svg') }}"
                      class="card-img-top" alt="Premium Firmware">
                    <div class="card-body">
                      <h3 class="card-title">Premium Firmware</h3>
                      <p class="card-text">More features including multi network support &amp; dVPN.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Icon-4-white.svg') }}"
                      class="card-img-top" alt="Prioritised Support">
                    <div class="card-body">
                      <h3 class="card-title">Prioritised Support</h3>
                      <p class="card-text">Access our dedicated support team and skip the queue.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive" src="{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Icon-5-white.svg') }}" alt="Multi-Mining">
                    <div class="card-body">
                      <h3 class="card-title">Multi-Mining</h3>
                      <p class="card-text">Earn while you sleep and increase your earnings with multi-mining. Available on all of your existing devices with the Nebra Dashboard.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive" src="{{ url_for('static',filename='images/Nebra-Dashboard-Promo-Icon-6-white.svg') }}" alt="Coming Soon">
                    <div class="card-body">
                      <h3 class="card-title">Plus much more coming soon!</h3>
                      <p class="card-text">Watch this space for new updates and features.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="text-center">
                  <a class="btn btn-lg btn-light p-3 dashboard-upsell--button" type="button" href={{ claim_deeplink }} target="_blank">
                    <h3>Claim your <strong>free</strong> trial now! <i class="fa fa-arrow-right"></i></h3>
                  </a>
                </div>
              </div>

              <p class="text-light mb-5"><br> * All devices come with a free 14-day trial period. You can only use the trial period once per device.
                This limit applies even if the device has been resold and owned by a different user now.</p>

            </main>
          </div>
     </div>
{% endblock %}
