 {% extends 'template_hyper.html' %}

 {% block title %}Upgrade to Premium Firmware{% endblock %}

 {% block body %}
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
                integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"
         />
         <style>
            .dashboard-upsell--main {
              background-image: url("https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Dashboard-Promo-Background-blue.png?v=1676044338");
              background-position: center center;
              background-size: cover;
              border-radius: 25px;
              padding: 50px;
            }

            .dashboard-upsell--logo {
              max-width: 60%;
              height: auto;
            }

            .dashboard-upsell--card {
              height: 100%;
              text-align: center;
              color: white;
              background: rgb(255, 255, 255, 0.1) !important;
              backdrop-filter: blur(10px);
              border: none;
            }

            .dashboard-upsell--card img {
              height: 125px;
              margin: 0 auto;
              padding: 25px;
            }

            .dashboard-upsell--button {
              color: #02a8f5;
              padding-left: 50px !important;
              padding-right: 50px !important;
            }

            .dashboard-upsell--button:hover {
              color: #02a8f5;
              box-shadow: 0 0 30px rgba(80, 244, 248, 0.75);
              transition: box-shadow 0.3s ease-in-out;
              transform: scale(1.01, 1.01);
              transition: all 0.3s b ease-in-out;
            }

            .dashboard-upsell--button h3 {
              margin-bottom: 0;
            }
         </style>

         <div class="mx-auto p-3 py-md-5">
            <main class="dashboard-upsell--main">

              <img class="dashboard-upsell--logo img-responsive mb-3"
                src="https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Dashboard-Logo-white.png?v=1676044443"
                height="50px">
              <h1 class="text-white">Upgrade to the full experience today!</h1>
              <p class="text-light mb-5">The Nebra Dashboard provides extra features like remote reboot, hardware diagnostics,
                premium firmware, and prioritised support. Control your device from anywhere, monitor its health, get advanced
                functionality and improved performance, and receive quick assistance from a dedicated team. Upgrade your
                device's performance and experience peace of mind.</p>

              <div class="row">
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Dashboard-Promo-Icon-1_2x_23131f50-7af4-4c46-a825-e6f5f33e3fb8.png?v=1676042986"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Remote Reboot</h3>
                      <p class="card-text">Hotspot not responding? Reboot it without visiting its location.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Dashboard-Promo-Icon-3_2x_f9373920-4219-452a-81e4-a6b15c6d40fe.png?v=1676042986"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Hardware Diagnostics</h3>
                      <p class="card-text">Access diagnostics information from anywhere.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Dashboard-Promo-Icon-2_2x_d787b226-e266-40e6-92e5-a065a28c64a8.png?v=1676042986"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Premium Firmware</h3>
                      <p class="card-text">More features including multi network support &amp; dVPN.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                  <div class="card dashboard-upsell--card">
                    <img class="img-responsive"
                      src="https://cdn.shopify.com/s/files/1/0071/2281/3001/files/Nebra-Dashboard-Promo-Icon-4_2x_c1336eb9-0a38-4f34-9c70-c3f659773527.png?v=1676042986"
                      class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Prioritised Support</h3>
                      <p class="card-text">Access our dedicated support team and skip the queue.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="text-center">
                  <h5 class="text-center text-light my-4">Plus much more!</h5>
                  <a class="btn btn-lg btn-light p-3 dashboard-upsell--button" type="button" href="https://dashboard.nebra.com/pricing/" target="_blank">
                    <h3>Start your <strong>free</strong> trial now! <i class="fa fa-arrow-right"></i></h3>
                  </a>
                </div>
              </div>

            </main>
          </div>

{% endblock %}
