name: Compile gateway-mfr-rs

on: [push]

jobs:
  rust-compile:
    name: Build gateway-mfr-rs
    runs-on: ubuntu-latest
    steps:
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-unknown-linux-musl
          override: true

      - name: Clone repo
        run: |
          git clone --branch v0.1.3 https://github.com/helium/gateway-mfr-rs.git .

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: check

      - name: Build gateway-mfr-rs
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --target aarch64-unknown-linux-musl --release

      - name: Copy release file
        run: |
          cp ./target/aarch64-unknown-linux-musl/release/gateway_mfr gateway_mfr

      - uses: actions/upload-artifact@v2
        with:
          name: gateway_mfr
          path: ./gateway_mfr
